{% extends 'base.html' %}

{% block body %}


<div class="jumbotron bg-white container">
  <h1 class="display-4 frgn3">About us</h1>
  <small class="text-justify text-danger">Established in the year 2015</small>
  <br>
    <div class="row">
        <div class="col-md-6">
              <h3 class="text-justify text-danger">Who Are We?</h3>
                <p class="frgn3" ><span class="fgrn"><strong>We</strong></span> have emerged as one of the leading manufacturers of industrial fasteners and pipe fittings. These encompass nuts, bolts and screws and are appreciated for their sturdy construction, high tensile property and superior performance.</p>
        </div>

        <div class="col-md-6">
              <h3 class="text-justify text-danger">Our History</h3>
                <p class="frgn3" ><span class="fgrn"><strong>“Kapoor steel craft Pvt Ltd"</strong></span>  has evolved from a two chair office to possibly the leading brand in India. Our range of products speak of our product quality and sincere market presence.</p>
        </div>

        <div class="col-md-6">
              <h3 class="text-justify text-danger">Our Vision</h3>
                <p class="frgn3" >To develop the relationship of trust with each customer because we believe in strong relations projected in future.we knows that the first purchase is indeed just the beginning and that the real business value lies in retaining that customer.</p>
        </div>

        <div class="col-md-6">
              <h3 class="text-justify text-danger">Cooperate with Us!</h3>
                <p class="frgn3" >It is our belief that the development work that is conducted at <span class="fgrn"><strong>“Kapoor steel craft Pvt Ltd"</strong></span> will give our clients the latest technology edge they should stay competitive.</p>
        </div>



    </div>


{#    <p class='text-justify'><span class="fgrn text-danger"><bold>Types of Fastener:</bold></span><br>#}
{#Fasteners are nothing but the universal components used to create non-permanent joints. In other words, they will simplify the manufacturer of structures and machines. Being reduces the need for larger parts, fasteners are normally easier to design less complex components and even fasten them together. They could also be installed with the intention to offer additional support.<br>#}
{#<br>#}
{#<span class="fgrn text-danger"><bold>Uses of Fasteners:</bold></span><br>#}
{##}
{#Ranging from the usual household appliances we have used in our everyday life to some high tech gizmos, we have a common component present in them, that’s a fastener. Even though fasteners are not directly visualized by us, they will play an essential role in our regular life. Whatever it may be, right from holding tables and chairs we sit on to automobiles that we travel as each and every edge of what we have used is held in position through a Fastener.#}
{##}
{#People often make use of Fasteners for non-permanent joints. What do you mean by non-permanent joints? A joint, which could be dismantled or removed without the damage or destruction of joining components, could be referred as a non-permanent joint.</p>#}
  <hr class="my-4">
  <div class="m-0">
    <h3 class="fgrn3" style="font-weight:;">Basic Information</h3>

<div class="table-responsive">
    <table class="table table-bordered">
    <tbody>
    <tr>
       <td class="table-active text-danger">Nature of Business</td>
        <td>Manufacturer and Supplier</td>
    </tr>
    <tr>
       <td class="table-active text-danger"> Industry</td>
        <td>Fasteners and Forging</td>
    </tr>
        <tr>
       <td class="table-active text-danger">Factory Address</td>
        <td>D1B,Dhumaal Nagar,Bappa Sitaram Industrial Estate,Waliv,Vasai(E),401208,Palghar, Maharashtra, India</td>
    </tr>
    <tr>
       <td class="table-active text-danger">Branch Address</td>
        <td><small><u>GSTIN 33ABYPL0391G1ZF</u></small><br>Old no 37,New no 72,Venkata Maistry Street,Post Office Street Corner,Mannady,Chennai-600 001, India</td>
    </tr>

    <tr>
       <td class="table-active text-danger">Proprietor Name</td>
        <td>Ayaz kapoor</td>
    </tr>
    <tr>
       <td class="table-active text-danger">Company CEO</td>
        <td>Ejaz kapoor</td>
    </tr>

    <tr>
       <td class="table-active text-danger">GSTIN</td>
        <td>27EXEPK3168L1Z0</td>
    </tr>

    <tr>
       <td class="table-active text-danger">Email</td>
        <td>Kscforging007@gmail.com<br>ejazkapoor999@gmail.com</td>
    </tr>


  </tbody>
</table>
</div>



  </div>
</div>

{% endblock %}