

<footer class="page-foote bg-dblue text-white sticky-bottom pt-1">
<br>
<br>

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h1 class="" >kscforging<span class="text-danger">.in</span></h1>
        <p class="text-danger">We Delivered What We Promise </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">contact us on:</h5>

        <ul class="list-unstyled">
          <li><img src="/media/phone-68-16.png"> <a href="tel:9594678600" class="text-white" > 9594678600<p class="text-white">Ayaz kapoor</p></a></li>
          <li><img src="/media/whatsapp-16.png"><a href="tel:8767659596" class="text-white"> 8767659596<p class="text-white"></p></a></li>
          <li><img src="/media/phone-68-16.png"> <a href="tel:8286645300"class="text-white"> 8286645300<p class="text-white">Ejaz kapoor</p></a></li>
          <li><img src="/media/Maps.png"> <a href="https://goo.gl/maps/eySDrXgw1bLKxsHo7">Get the directions.</a></li>
        </ul>

      </div>


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright bg-danger text-center py-3" >© 2019 Copyright:
    <span class="text-white mx-auto">Design and Developed By <a href="https://hyperdec.com/" class="text-warning">Hyperdec.com</a> </span>
  </div>
  <!-- Copyright -->

</footer>
