{% extends 'base.html' %}

{% block body %}

<div class="connt">




<div class="row ">

         <div class="col-4 col-md-6">
          <img src="nut1.jpg" class="img-fluid">
        </div>

        <div class="col-8 col-md-6  flex-column position-static p-2">
          <strong class="d-inline-block mb-2 fgrn">World</strong>
          <h4 class="mb-0">Hexa-Bolt</h4>
          <div class="mb-1 text-muted">price:$250</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as .</p>
          <button type="button" class="btn btn-primary ">Call us </button>
          <button type="button" class="btn btn-secondary">Contact us.</button>
        </div>
</div>




</div>


{% endblock %}